<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/view/login_result.ejs</title>
</head>
<body>
    <h1>로그인 결과 페이지</h1>
    <table width="400" border='1'>
        <tr>
            <td>아아디</td>
            <td><%=data.id%></td>
        </tr>
        <tr>
            <td>성명</td>
            <td><%=data.name%></td>
        </tr>    
    </table>
    <p><a href="/public/product.html">상품 정보 페이지</a></p>
</body>
</html>